<h1>Snippets</h1>

<%= render 'snippet' %>

<table>
  <tr>
    <th>Id</th>
    <th>Filename</th>
    <th>Content</th>
    <th>Output</th>
    <th></th>
  </tr>
  <% for snippet in @snippets %>
		<tr>			
			<td><%= snippet.id %></td>
			<td><%= snippet.filename %></td>
			<td><%= snippet.content %></td>
			<td><%= snippet.output %></td>
			<td id="snippet_<%= snippet.id %>" ><%= link_to 'Edit', edit_snippet_path(snippet)%></td>
		</tr>
	<% end %>
</table>

